@charset "utf-8";

* {
    background: none repeat scroll 0 0 transparent;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
body {
    background-color: #F8FAFA;
    font-family: Arial,Helvetica,sans-serif;
}
div, h1 {
	margin: 15px;
}

/* Effect button */
.effect {
    border: 1px solid #00548C;
    border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
    height: 22px;
    width: 22px;
}
.effect:hover {
    border: 1px solid #0099FF;
	background-color:#0099FF !important;
}
.effect:active {
	-moz-box-shadow: inset 0px 1px 2px #00548C;
	-webkit-box-shadow: inset 0px 1px 2px #00548C;
	box-shadow: inset 0px 1px 2px #00548C;
	border: 1px solid #00548C;	
}

/* Buttons */
.left, a.jquery-carousel-left {
    background: url("../img/icons.png") no-repeat scroll -22px 3px #FFFFFF;
	text-indent:-9999px;
	display: block;
}
.left:hover,  a.jquery-carousel-left:hover {
    background: url("../img/icons.png") no-repeat scroll -22px -22px #FFFFFF;
}
.right, a.jquery-carousel-right {
    background: url("../img/icons.png") no-repeat scroll 4px 3px #FFFFFF;
	text-indent:-9999px;
	display: block;	
}
.right:hover , a.jquery-carousel-right:hover {
    background: url("../img/icons.png") no-repeat scroll 4px -22px #FFFFFF;
}

/* Ball */
.ball {
    background: url("../img/icons.png") no-repeat scroll -99px -5px transparent;
    display: inline-block;
    height: 14px;
    padding: 0 3px;
    text-indent: -999em;
    width: 14px;
}
.ball:hover {
    background: url("../img/icons.png") no-repeat scroll -99px -21px transparent;
}
.active-ball {
    background: url("../img/icons.png") no-repeat scroll -83px -5px transparent;
}
.active-ball:hover {
    background: url("../img/icons.png") no-repeat scroll -83px -21px transparent;
}

/* Slider position */
.slider-ball {
	position:relative;
    display: inline-block;	
}
.slider-ball ul li {
	float:left;
    list-style: none outside none;
}
.carousel-wrap {
    border: 1px solid #B2B2B2;
    display: inline-block;
    margin: 0 5px 15px;
    vertical-align: middle;
    width: 176px;	
}
a.jquery-carousel-left {
	position:absolute;
    left: 5%;	
}
a.jquery-carousel-right {
	position:absolute;
    right: 5%;	
}
.center-wrap {
    margin: -10px auto 0;
    text-align: center;
    width: 100%;
}